body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1091px;
  height:1920px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:1091px;
  height:1920px;
  display:flex;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:377px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:44px;
  width:282px;
  height:377px;
  display:flex;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:16px;
  width:117px;
  height:57px;
  display:flex;
  font-size:25px;
}
#u16 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FD5900;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:343px;
  width:980px;
  height:134px;
  display:flex;
  font-family:'黑体 Bold', '黑体 Regular', '黑体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FD5900;
}
#u17 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:120px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:1223px;
  width:297px;
  height:120px;
  display:flex;
  font-size:40px;
  color:#000000;
}
#u18 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:120px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:1223px;
  width:391px;
  height:120px;
  display:flex;
  font-size:40px;
  color:#000000;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
