body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1554px;
  height:817px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:-213px;
  top:0px;
  width:1554px;
  height:817px;
  display:flex;
}
#u24 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1079px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:65px;
  color:#FD5900;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:186px;
  width:1079px;
  height:144px;
  display:flex;
  font-family:'黑体 Bold', '黑体 Regular', '黑体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:65px;
  color:#FD5900;
}
#u25 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:64px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:500px;
  width:226px;
  height:64px;
  display:flex;
  font-size:34px;
  color:#000000;
}
#u26 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:64px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:500px;
  width:279px;
  height:64px;
  display:flex;
  font-size:34px;
  color:#000000;
}
#u27 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:226px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:18px;
  width:169px;
  height:226px;
  display:flex;
}
#u28 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:18px;
  width:57px;
  height:31px;
  display:flex;
  font-size:25px;
}
#u29 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
